<h1>Tools</h1>
<div class="col-md-12 content-holder animated fadeInRight settings" ng-class="animation" ng-controller="qrCtrl">
    <div class="settings-section"><h2 class="section-title">Short URL Generator</h2>
        <p>Use this URL Shortener to shorten website addresses that you would like to include in your text messages. Simply enter a URL and we will generate a shortened version.</p>
        <br><br>
    <iframe src="views/url.html" width="100%" height="auto" style="border:none"></iframe></div>
    <div class="settings-section"><h2 class="section-title">Short URL Tracker</h2>
        <p>Use this Short URL Tracker to see statistics about your short URLS. Simply enter the shortened URL you want to track and click or tap the Track button.</p>
        <br><br>
    <iframe src="views/url-info.html" width="100%" height="auto" style="border:none"></iframe></div>
    <div class="settings-section">
        <h2 class="section-title">QR Code Generator</h2>
        <p>Use this QR Code Generator to create custom QR codes to share with customers and prospects. To create a QR code that will initiate a text message, use this format: <strong>SMSTO:+18665578919:Hello, how are you?</strong></p>

<p>When scanned this QR codes will send a text message to 8665578919 with the message, “Hello how are you?”</p>

<p>When you are done creating your code, be sure to test it and then right click to save it so you can share it with contacts.
</p>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <div class="qr-settings">
                    <textarea id="text" class="textarea " ng-model="qrcodeString" placeholder="ENTER YOUR TEXT TO ENCODE"></textarea>
                    <br>
                    <p>
                    <label for="size">Correction Level:</label>
                    <span>{{correctionLevel}}</span><br>
                    <!--<input type="radio" id="correctionLevel" ng-model="correctionLevel" value=""/>  Auto (M) &nbsp;&nbsp;&nbsp;-->
                    <input type="radio" id="correctionLevel" ng-model="correctionLevel" value="L"/>  L (Low) &nbsp;&nbsp;&nbsp;
                    <input type="radio" id="correctionLevel" ng-model="correctionLevel" value="M"/>  M (Medium) &nbsp;&nbsp;&nbsp;
                    <!--<input type="radio" id="correctionLevel" ng-model="correctionLevel" value="Q"/>  Q (Quartile)-->
                    <input type="radio" id="correctionLevel" ng-model="correctionLevel" value="H"/>  H (High)
                    </p>
                    <br>
                    <p>
                    <label for="size">Size:</label>
                    <span>{{size}}</span>
                    <br>
                    <input type="range" id="size" class="range" ng-model="size" min="100" max="500"/>
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <qr text="qrcodeString" type-number="typeNumber" correction-level="correctionLevel" size="size" input-mode="inputMode" image="image"></qr>
            </div>
        </div>
    <br><br></div>
</div>