<h1>
Change Plan
</h1>
<div class="content-holder animated fadeInRight change-plan" ng-class="animation" ng-controller="ProfileCtrl as pCtrl">
    <h2 class="section-title">
    Upgrade or Change Your Plan
    </h2>
    <p>
        Use this tool to view other plan options and upgrade or change your plan.
    </p>

    <br>
    <h3>
    Current plan:
    <span class="blue">
        {{pCtrl.CurrentPlan.Name}}
    </span>
    </h3>
    <br>

    <p ng-show="pCtrl.CurrentPlan==pCtrl.SelectedPlan">
        <strong>
        View and select new plan below
        </strong>
    </p>
    <p ng-hide="pCtrl.CurrentPlan==pCtrl.SelectedPlan">
        <strong>
        Selected Plan
        </strong>
    </p>
    <div>
        <select ng-options="plan.Name for plan in pCtrl.PlansArray" disable-search="true" class="form-control m-b" ng-model="pCtrl.SelectedPlan">
        </select>

        <div class="animate-switch-container plan-desc" >

            <div >
                <p>
                    <strong>
                    {{pCtrl.SelectedPlan.Name}} 
                    </strong>
                    {{pCtrl.SelectedPlan.Desc}}
                </p>

                <ul>
                    <li>
                        Price/month:
                        <strong>
                        {{pCtrl.SelectedPlan.Price}}
                        </strong>
                    </li>
                    <li>
                        Outgoing texts:
                        <strong>
                        {{pCtrl.SelectedPlan.Outgoing}}
                        </strong>
                    </li>
                    <li>
                        Incoming texts:
                        <strong>
                        {{pCtrl.SelectedPlan.Incoming}}
                        </strong>
                    </li>
                    <li>
                        Additional texts:
                        <strong>
                        {{pCtrl.SelectedPlan.Additional}}
                        </strong>
                    </li>
                    <li>
                        Code type:
                        <strong>
                        {{pCtrl.SelectedPlan.CodeType}}
                        </strong>
                    </li>
                    <li>
                        Keywords:
                        <strong>
                        {{pCtrl.SelectedPlan.Keywords}}
                        </strong>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-hide="pCtrl.CurrentPlan==pCtrl.SelectedPlan">
            <br>

            <a class="btn btn-send smaller ng-scope" ng-controller="notifyCtrl" ng-click="pCtrl.Submit()">
            <span>
                Submit
            </span>
            </a>

            <p class="small">
                <br>
                By changing your plan you agree to changes in monthly service charges and additional fees and taxes where applicable. Please note your plan change will be confirmed with ImpactText Customer Support. You will receive an email once your plan change is complete.
            </p>
        </div>
    </div>

</div>