<h1>
Change Plan
</h1>
<div class="col-md-12 content-holder animated fadeInRight change-plan" ng-class="animation" ng-controller="ProfileCtrl as pCtrl">
    <h2 class="section-title">
    Upgrade or Change Your Plan
    </h2>
    <p>
        Use this tool to view other plan options and upgrade or change your plan.
    </p>

    <br>
    <h3>
    Current plan:
    <span class="blue">
        ImpactText2400
    </span>
    </h3>
    <br>

    <p ng-show="ChangePlan=='TXT2400'">
        <strong>
        View and select new plan below
        </strong>
    </p>
    <p ng-hide="ChangePlan=='TXT2400'">
        <strong>
        Selected Plan
        </strong>
    </p>
    <div>
        <select ng-options="plan.Value for plan in pCtrl.PlansArray" disable-search="true" class="form-control m-b" name="ChangePlan">
        </select>{{pCtrl.PlansArray}}

        <div class="animate-switch-container plan-desc" >

            <div >
                <p>
                    <strong>
                    ImpactText500
                    </strong>
                    is our entry-level plan which will allow you to test the platform and see the power of text messaging.
                </p>

                <ul>
                    <li>
                        Price/month:
                        <strong>
                        $19.99
                        </strong>
                    </li>
                    <li>
                        Outgoing texts:
                        <strong>
                        500
                        </strong>
                    </li>
                    <li>
                        Incoming texts:
                        <strong>
                        FREE
                        </strong>
                    </li>
                    <li>
                        Additional texts:
                        <strong>
                        5.5¢ per text
                        </strong>
                    </li>
                    <li>
                        Code type:
                        <strong>
                        Long code (dedicated)
                        </strong>
                    </li>
                    <li>
                        Keywords:
                        <strong>
                        1
                        </strong>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-hide="ChangePlan=='TXT2400'">
            <br>

            <a class="btn btn-send smaller ng-scope" ng-controller="notifyCtrl">
            <span>
                Submit
            </span>
            </a>

            <p class="small">
                <br>
                By changing your plan you agree to changes in monthly service charges and additional fees and taxes where applicable. Please note your plan change will be confirmed with ImpactText Customer Support. You will receive an email once your plan change is complete.
            </p>
        </div>
    </div>

</div>