<h1>Lists</h1>
<div class="col-md-12 content-holder animated fadeInRight" ng-class="animation" ng-controller="ngSegmentListCtrl">
	<h2 class="section-title">Manage segments</h2>
	<div class="top-buttons">
		<a href="#/lists/lists_add_segment" class="btn btn-add"><i class="fa fa-plus"></i> Create segment</a>
	</div>
	<div class="row">
		<p class="col-sm-12 manage-list-txt">
			Here are all the segments. Select the checkbox next to a segment member to manage it.
			<br>
			To manage several segments at the same time select multiple checkboxes.
			<br>
			You can also export your entire list by choosing the Export option at the bottom of the screen.
		</p>
	</div>
	<div class="table-holder">
	</div>
</div>