<h1>Lists</h1>
<div class="col-md-12 content-holder animated fadeInRight lists-view" ng-class="animation" ng-controller="ngGridCtrl">
    <h2 class="section-title">Manage lists</h2>
    <div class="top-buttons">
        <a href="#/lists/lists_add" class="btn btn-add"><i class="fa fa-plus"></i> Create list</a>&nbsp; <a href="#/lists/lists_add_contact" class="btn btn-add"><i class="fa fa-plus"></i> Add contact(s)</a>
    </div>
    <p>Here are all of your contact lists. Select the checkbox next to the list you would like to manage. If you would like to make changes to contacts in an existing list, simply upload your <a href="#/lists/lists_add_contact">updated list</a> and your contacts will be edited accordingly. <a href="http://www.impacttext.com/support/how-to/contacts-and-lists" target="_blank">Learn more.</a>
    </p><br>
    <div>
        <!--<input class="search-input" placeholder="Search by list name" type="text" ng-model="nameFilter" ng-change="filterName()" >-->
        <input class="search-input" placeholder="Search by list name" type="text" ng-model="filterOptions.filterText">
        <div class="page-select-wrapper">
            <strong>Show:</strong>&nbsp; <select class="page-select" ng-model="pagingOptions.pageSize">
                <option ng-repeat="size in pagingOptions.pageSizes">{{size}}</option>
            </select>
        </div>
    </div>
    <br>
    <!--START TABLE-->
    <div class="gridStyle" ng-grid="ngOptions"></div>
    <!--<div class="selectedItems">{{mySelections}}</div>-->
    <!--Bottom Actions -->
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2 ng-scope bottom-buttons" ng-controller="notifyCtrl">
            <a class="btn" ng-click="exportOptOuts()"><i class="fa fa-file-excel-o"></i> Export All Opt-Outs</a>
            <!--<a class="btn"><i class="fa fa-files-o"></i> Copy List</a>-->
            <a class="btn" ng-click="changeSelectedListsStatus('A')"><i class="fa fa-plus-square-o"></i> Activate List</a>
            <a class="btn btn-discard" ng-click="changeSelectedListsStatus('I')"><i class="fa fa-minus-square-o"></i> Deactivate List</a>
            <!--
            <div class="btn-group dropup discard-btn">
                <a data-toggle="dropdown" class="btn btn-discard dropdown-toggle" aria-expanded="false"><i class="fa fa-trash-o"></i> Delete</a>
                <ul class="dropdown-menu dropdown-alerts">
                        <li>Are you sure you want to delete the list?</li>
                        <li>&nbsp;</li>
                        <li><span class="discard-cancel" data-toggle="dropdown"><strong>Yes</strong></span> &nbsp;&nbsp;&nbsp;  <span class="discard-cancel" data-toggle="dropdown" ng-click="animation = 'FadeInLeft'"><strong>No</strong></span></li>
                </ul>
            </div>
            -->
        </div>
    </div>
</div>