<h1>Contacts / Lists </h1>



<div class="col-md-12 content-holder animated fadeInRight manage-list" ng-class="animation" ng-controller="ngContactListCtrl">



<h2 class="section-title">View list contacts

<span ng-repeat="name in ngData | limitTo:1"> {{ name.contactListName }}</span>

</h2>



<div class="top-buttons">

<a href="#/lists/lists_add" class="btn btn-add"><i class="fa fa-plus"></i> Create list</a>&nbsp; <a href="#/lists/lists_add_contact" class="btn btn-add"><i class="fa fa-plus"></i> Add contact(s)</a>&nbsp; <a href="#/lists/lists_view" class="btn btn-back"><i class="fa fa-undo"></i> Back to Lists</a>



<div class="page-select-wrapper">

<strong>Show:</strong>&nbsp; <select class="page-select" ng-model="pagingOptions.pageSize">

	<option ng-repeat="size in pagingOptions.pageSizes">{{size}}</option>

</select>

</div>

<!--<p class="col-sm-6">Here are all the contacts belonging to <span ng-repeat="name in ngData | limitTo:1"> {{ name.contactListName }}</span>. Select the checkbox next to a list member to manage the contact. To manage several contacts at the same time select multiple checkboxes.</p>-->

</div>



<div>


<!--<button class="btn btn-success" data-toggle="button" ng-click="filterStatusO()">Opted out</button>-->

<!--<input class="search-input" placeholder="Search by list name" type="text" ng-model="nameFilter" ng-change="filterName()" >-->



<!-- Search by -->

<input class="search-input" placeholder="Search term" type="text" ng-model="filterOptions.filterText">

<select chosen data-placeholder="search by" disable-search="true" ng-model="filterOptions.filterBy">

	<option></option>

	<option value="ANI">ANI</option>

	<option value="firstName">First Name</option>

	<option value="lastName">Last Name</option>

	<!--<option value="emailAddress">Email</option>-->

	<option value="custom1">Field 1</option>

	<option value="custom2">Field 2</option>

	<option value="custom3">Field 3</option>

</select>

<button class="btn btn-search" ng-click="refresh()" ng-controller="notifyCtrl"><i class="fa fa-search"></i></button>



</div>

<!-- end search by -->



      <br>







<!--START TABLE-->

<div class="gridStyle" ng-grid="ngOptions"></div>



<!--<div class="selectedItems">{{mySelections}}</div>-->





<!--Bottom Actions -->

<div class="row">

<div class="col-sm-2 ng-scope bottom-buttons">

<!--<a class="btn"><i class="fa fa fa-plus"></i> Add to other list</a>-->

</div>



<div class="col-sm-10 ng-scope bottom-buttons">



<a class="btn"><i class="fa fa-file-excel-o"></i> Export</a>

<a class="btn" ng-click="unblockContacts_ngContactListCtrl()"><i class="fa fa-check-square-o"></i> Unblock</a>

<a class="btn" ng-click="blockContacts_ngContactListCtrl()"><i class="fa fa-ban"></i> Block</a>

<a class="btn"  ng-click="optOutContacts_ngContactListCtrl()"><i class="fa fa-chain-broken"></i> Opt Out</a>

<!--<a class="btn"><i class="fa fa-check-square-o"></i> Opt In</a>-->



<div class="btn-group dropup discard-btn">

<a data-toggle="dropdown" class="btn btn-discard dropdown-toggle" aria-expanded="false"><i class="fa fa-trash-o"></i> Delete</a>

<ul class="dropdown-menu dropdown-alerts">

    <li>Are you sure you want to delete the contact(s)?</li>

    <li>&nbsp;</li>

    <li><span class="discard-cancel" data-toggle="dropdown"><strong>Yes</strong></span> &nbsp;&nbsp;&nbsp;  <span class="discard-cancel" data-toggle="dropdown" ng-click="animation = 'FadeInLeft'"><strong>No</strong></span></li>

</ul>

</div>













</div>

</div>



</div>

