<h1>Lists</h1>

<div class="col-md-12 content-holder animated fadeInRight add-list-contact segment" ng-class="animation" ng-controller="AddSegmentCtrl">
	<h2 class="section-title">Add Segment</h2>
	<div class="top-buttons">
		<a ng-hide="controllerParent" ui-sref="lists.segments" class="btn btn-back"><i class="fa fa-undo"></i> Back to Segments</a>
	</div>

	<div>
		<br />

		<form name="add_segment_form">

			<!--SINGLE SEGMENT -->
			<div class="single-holder" >

				<div class="form-group clearfix">
					<label class="control-label">Segment name:</label>
					<div class="input-wrapper">
						<input type="text" name="SegmentName" ng-model="SegmentName" ng-required="true" class="form-control inline"
								 ng-class="(add_segment_form.$submitted && add_segment_form.SegmentName.$error.required) ? 'input-error' : ''" />
						<small class="error" ng-if="add_segment_form.$submitted && add_segment_form.SegmentName.$error.required"><i class="fa fa-arrow-up"></i> This is a required field!</small>
					</div>
				</div>

				<div class="form-group clearfix">
					<label class="control-label">Apply to contact list:</label>
					<div class="input-wrapper chosen-wrapper">
						<select chosen name="ContactList" data-placeholder="All contact lists" class="chosen-select form-control" ng-model="ContactList"
								  ng-options="contactList.contactListName for contactList in main.contactLists track by contactList.contactListID" lazy-load-options data-options="contactLists">
						</select>
						<small class="error" ng-if="add_segment_form.$submitted && add_segment_form.ContactList.$error.required"><i class="fa fa-arrow-up"></i> This is a required field!</small>
					</div>
					<a ng-click="resetContactListID()" class="input-reset-btn"><i class="fa fa-minus-circle"></i></a>
				</div>

				<div class="segment-filters">
					<div class="segment-filter form-group clearfix" ng-repeat="segmentFilter in segmentFilters">
						<select class="operator form-control inline" ng-if="segmentFilter.operator" ng-model="segmentFilter.operator">
							<option value="and" ng-selected="segmentFilter.operator == 'and'">AND</option>
							<option value="or" ng-selected="segmentFilter.operator == 'or'">OR</option>
						</select>
						<label class="control-label" ng-if="!segmentFilter.operator">Filter: </label>

						<select name="field-{{$index}}" class="field form-control inline" ng-model="segmentFilter.field" ng-change="segmentFieldChange($index)">
							<option value="- - -">- - -</option>
							<option ng-repeat="key in availableFieldsKeys" value="{{key}}">{{availableFields[key]}}</option>
						</select>

						<select name="comparator-{{$index}}" class="comparator form-control inline" ng-model="segmentFilter.comparator"
								  ng-options="comparator for comparator in availableComparators[segmentFilter.field]"> </select>

						<input ng-if="segmentFilter.field != 'createddate' && segmentFilter.field != 'updateddate'" type="text" name="value-{{$index}}" ng-model="segmentFilter.value" class="value form-control inline with-comparator" />
						<div ng-if="segmentFilter.field == 'createddate' || segmentFilter.field == 'updateddate'" class="btn-group datetimepicker-wrapper">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="segmentFilter.value" is-open="DateOpened[$index]" datepicker-options="dateOptions" close-text="Close" ng-click="open($event, $index)" />
						</div>

						<a ng-click="removeFilter($index)" class="remove-filter"><i class="fa fa-minus-circle"></i></a>
					</div>
					<small class="error" ng-if="(add_segment_form.$submitted || previewError) && !ContactFilter"><i class="fa fa-arrow-up"></i> You need to specify at least one filter option!</small>

					<a ng-click="addFilter()" class="add-filter"><i class="fa fa-plus-circle"></i> Add filter</a>
				</div>
			</div><!-- END SINGLE -->


			<br />
			<a class="btn btn-preview smaller" ng-click="previewSegment()">
				<span><i class="fa fa-eye"></i> Preview contacts</span>
			</a>
			<a class="btn btn-send smaller" ng-controller="notifyCtrl" ng-click="addSegment()">
				<span><i class="fa fa-floppy-o"></i> Save</span>
			</a>

		</form>

	</div>

	<div id="segment-preview-wrapper" ng-controller="PreviewSegmentCtrl" ng-if="showPreview">
		<div ng-show="loading">
			<div class="loading">Loading preview ...</div>
		</div>
		<div class="table-holder" ng-show="!loading">
			<h2 class="section-title">Preview contacts</h2>
			<p>Segment contact list preview</p>
			<div class="page-select-wrapper">
				<strong>Show:</strong>&nbsp; <select class="page-select" ng-model="pagingOptions.pageSize">
					<option ng-repeat="size in pagingOptions.pageSizes">{{size}}</option>
				</select>
			</div>

			<br />
			<!--START TABLE-->
			<div id="segment-contacts-grid" class="gridStyle" ng-grid="ngOptions"></div>

			<!--Bottom Actions -->
			<div class="bottom-table-toolbar" ng-if="totalServerItems">
				<a class="btn" ng-click="export()"><i class="fa fa-file-excel-o"></i> Export all contacts</a>
			</div>
		</div>
	</div>
</div>