<h1>Contacts / Lists</h1>

<div class="col-md-12 content-holder animated fadeInRight add-list-contact" ng-class="animation" ng-controller="AddListsCtrl">
<h2 class="section-title">Add or Update Contacts</h2>
<div class="top-buttons">
<a ng-hide="controllerParent" href="#/lists/lists_view" class="btn btn-back"><i class="fa fa-undo"></i> Back to Lists</a>
<a ng-show="controllerParent" class="btn btn-back" ng-click="controllerParent.Events.ShowView(controllerParent)"><i class="fa fa-undo"></i>Back</a>
</div>
<div>
<br>

<form>

<div class="form-group clearfix">

	    <div class="col-sm-20">
	        <div class="radio">
	        <label> <input icheck type="radio" name="UploadType" ng-model="UploadType" value="upload"> Upload a list of contacts</label>
	        <label> <input icheck type="radio" name="UploadType" ng-model="UploadType" value="single"> Add a single contact </label>
	        </div>
	    </div>
	</div>

	<!--SINGLE CONTACT -->
	<div class="single-holder" ng-show="UploadType == 'single'">

	<p>Add a single contact to this contact list. Please enter the contact information below.</p><br>

	<div class="form-group clearfix">

		<label class="control-label">Phone number:</label>
		<input type="text" name="PhoneNumber" placeholder="e.g. 2345678901" ng-model="PhoneNumber" class="form-control inline">

	</div>

	<div class="form-group clearfix">

		<label class="control-label">First name:</label>
		<input type="text" name="FirstNmae" placeholder="John" ng-model="FirstName" class="form-control inline">

	</div>

	<div class="form-group clearfix">

		<label class="control-label">Last Name:</label>
		<input type="text" name="LastName" placeholder="Doe" ng-model="LastName" class="form-control inline">

	</div>

	<div class="form-group clearfix">

		<label class="control-label">Email address:</label>
		<input type="text" name="Email" placeholder="name@domain.com" ng-model="Email" class="form-control inline">

	</div>

	<div class="form-group clearfix">

		<label class="control-label">Custom field 1:</label>
		<input type="text" name="CustomField1" placeholder="Custom text" ng-model="CustomField1" class="form-control inline">

	</div>

	<div class="form-group clearfix">

		<label class="control-label">Custom field 2:</label>
		<input type="text" name="CustomField2" placeholder="Custom text" ng-model="CustomField2" class="form-control inline">

	</div>

	<div class="form-group clearfix">

		<label class="control-label">Custom field 3:</label>
		<input type="text" name="CustomField3" placeholder="Custom text" ng-model="CustomField3" class="form-control inline">

	</div>

	<div class="form-group clearfix">

		<label class="control-label">Custom field 4:</label>
		<input type="text" name="CustomField4" placeholder="Custom text" ng-model="CustomField4" class="form-control inline">

	</div>

	<div class="form-group clearfix">

		<label class="control-label">Custom field 5:</label>
		<input type="text" name="CustomField5" placeholder="Custom text" ng-model="CustomField5" class="form-control inline">

	</div>

</div><!-- END SINGLE -->

<!-- UPLOAD CONTACT-->
<div class="upload-holder" ng-show="UploadType == 'upload'">

<p>Upload a CSV file with phone numbers you wish to add to this contact list. Phone numbers must begin with a 1 followed by the area code (11 digits total). Your file must be in .csv format no larger than 1MB. Duplicate numbers will automatically be removed.</p><br>
	<div class="form-group clearfix">

		<!--<input type="file" name="ListUpload" placeholder="Supported formats: CSV, XLS(X), TXT" ng-model="ListUpload" class="form-control">-->
		<input type="file" id="csvFile" nv-file-select="" uploader="fileUploader" />
		<small><br>Your list must begin with the phone number in column A and no headers. The following fields are optional: first name, last name, email, custom field 1, custom field 2, custom field 3, custom field 4, custom field 5. You can use custom fields to collect information about each contact’s preferences, or to segment lists for campaigns. Please download a sample file showing the correct format <a href="/files/example.csv" download>here</a></small>
	</div>

	<form method="POST" action=""></form>

	<br>
	<!--<p><strong>PASTE LIST</strong></p>

	<p>Copy and paste a list of phone numbers in to the box below. Enter one number per line. 10 digit phone numbers must begin with area code. Duplicates will automatically be removed.</p>

	<br>

	<textarea name="MessageTxt" placeholder="e.g. 1111111111, Name, Surname, email@email.com" class="form-control" rows="5" ng-model="MessageTxt" ng-trim="false"></textarea>
-->
</div>
 <!--END UPLOAD -->

<div class="list-box">
<p>Choose list:</p>
<ul class="list-inline">
    <li ng-repeat="name in lists.names"> <input icheck type="checkbox" value="{{name.contactListID}}" ng-model="name.selected"> {{ name.contactListName }} </li>
  </ul>
</div>

	<br>
<a class="btn btn-send" ng-controller="notifyCtrl" ng-click="addContact()">
<span><i class="fa fa-floppy-o"></i> Save contact(s)</span>
</a>

</form>


</div>
</div>