<h1>Messages </h1>

<div class="col-md-12 content-holder animated fadeInRight messages messages-view" ng-class="animation">

    <h2 class="section-title">View message</h2>
    
    <div class="view-info-box">	
	    <div class="view-from-number">From: <span>1585897458</span></div>
	    <div class="view-date">February 2, 2015, 10:15 AM</div>
    </div>

    	<div class="top-buttons">

        <button class="btn"><i class="fa fa-reply"></i> Reply</button> <!-- only inbox -->
        <button class="btn"><i class="fa fa-share"></i> Forward</button> <!-- inbox, sent -->
        <button class="btn"><i class="fa fa-check-square-o"></i> Opt In Sender</button> <!-- only inbox -->
        <button class="btn"><i class="fa fa-chain-broken"></i> Opt Out Sender</button> <!-- only inbox -->
        <button class="btn"><i class="fa fa-ban"></i> Block/unblock a contact</button> <!-- only inbox -->
        
        <div class="btn-group dropdown discard-btn"> <!-- only inbox -->
            <button data-toggle="dropdown" class="btn dropdown-toggle" aria-expanded="false"><i class="fa fa-plus"></i> Add sender to list</button>
            <div class="dropdown-menu dropdown-list dropdown-alerts">

            	<div class="list-holder">
                <div><input icheck type="checkbox" value="" ng-model="AddToListBMW"> BMW</div>
                <div><input icheck type="checkbox" value="" ng-model="AddToListOPEL"> OPEL</div>
                <div><input icheck type="checkbox" value="" ng-model="AddToListMERCEDES"> MERCEDES</div>
                </div>
                <button class="btn btn-send smaller">Add to list</button>

            </div>
        </div>

        <div class="btn-group dropdown discard-btn"> <!-- all -->
            <button data-toggle="dropdown" class="btn btn-discard dropdown-toggle" aria-expanded="false">Delete message</button>
            <ul class="dropdown-menu dropdown-alerts">
                <li>Are you sure you want to delete the message(s)?</li>
                <li>&nbsp;</li>
                <li><span class="discard-cancel" data-toggle="dropdown"><strong>Yes</strong></span> &nbsp;&nbsp;&nbsp;&nbsp;  <span class="discard-cancel" data-toggle="dropdown" ng-click="animation = 'FadeInLeft'"><strong>No</strong></span></li>
            </ul>
        </div>

        
        </div><!-- end top button -->
        
        <div class="message-box">
        	
        	<div class="message-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

        </div>
       
       	<div class="bottom-buttons left">
       		<a ui-sref="messages.inbox" class="btn back-btn"><i class="fa fa-undo"></i> Back to Inbox</a>
       	</div>
</div>
