<h1> Send </h1>
<div class="content-holder clearfix animated fadeInRight send-messages" ng-class="animation" ng-controller="FormSendCtrl" >
    <div class="iphone-prev">
        <div class="message-cloud">
            <span ng-show="FromName">
                {{FromName}}:
            </span>
            {{MessageTxt}} {{optFields.OptOutTxt1}}{{optFields.OptOutTxt2}}{{optFields.OptOutTxt3}}
        </div>
    </div>
    <h2 class="section-title"> Compose Message </h2>

    <div class="top-buttons">
        <a ng-show="controllerParent" class="btn btn-back" ng-click="controllerParent.Events.ShowView(controllerParent)"><i class="fa fa-undo"> </i> Back</a>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                Create your text message here and choose to send it to a single number, list of numbers, contact list or segment. You can send custom messages by personalizing: first or last name, and all custom fields. To personalize your message, choose to send to a list and the available personalized fields will appear in a box above your message text. Simply click on the field you want to insert and it will appear in your message text. For example:
            </p>

            <p>
                "Hello {firstname}, thanks for joining my list" will result in text messages customized with each contact’s first name.
            </p>

            <a href="http://www.impacttext.com/support/how-to/messages" target="_blank">Learn more.</a>
        </div>
    </div>
    <br>

    <form name="SendForm" novalidate role="form">
        <!-- MESSAGES -->
        <div id="messages" class="alert alert-success" ng-show="messages" ng-bind="messages"></div>
        <ul class="col-sm-12 alert alert-danger" ng-show="submitted && SendForm.$error.required">
            <li>
                <span class="red" ng-show="SendForm.ToList.$error.required">
                    List Required!
                </span>
            </li>
            <li>
                <span class="red" ng-show="SendForm.MessageTxt.$error.required">
                    Message text is required!
                </span>
            </li>
        </ul>
        <ul class="col-sm-12 alert alert-danger" ng-show="SendForm.$error.maxlength">
            <li>
                <span class="red" ng-show="SendForm.MessageTxt.$error.maxlength">
                    SMS limit reached, please reduce your character count!
                </span>
            </li>
        </ul>
        <!-- END MESSAGES -->
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label message-type"> Message Type: </label>
            <div class="col-sm-6">
                <div class="radio">
                    <label>
                        <input icheck type="radio" name="MessageType" ng-model="MessageType" value="SMS">
                        SMS </label>
                    <label>
                        <input icheck type="radio" name="MessageType" ng-model="MessageType" value="MMS" disabled>
                        <span style="color:lightgrey">
                            MMS
                        </span> </label>
                </div>
            </div>
        </div>

        <div class="form-group clearfix">
            <label class="col-sm-2 control-label"> From: </label>
            <div class="col-sm-6">
                <select chosen data-placeholder="Select your number..." disable-search="true"  class="form-control m-b" name="FromNumber" ng-model="FromNumber" ng-options="fromNumber.DID for fromNumber in fromNumbers track by fromNumber.DIDID">
                    {{fromNumbers}}
                </select>
            </div>
        </div>

        <div class="form-group clearfix" ng-show="Priorities > 0">
            <label class="col-sm-2 control-label"> Priority: </label>
            <div class="col-sm-3 priority" style="margin-top: -10px;">
                <input type="text" ion-range-slider range-options="{type: 'single', min: 0, max: 1, step: 1, grid: true, grid_snap: true, hide_min_max: true}" ng-model="SelectedPriority" />
            </div>
        </div>

        <div class="send-message-from-name form-group clearfix">
            <label class="col-sm-2 control-label"> From Name: </label>
            <div class="col-sm-6">
                <input type="text" name="FromName" placeholder="Your Company Name" ng-model="FromName" class="form-control"  ng-trim="false">
                <div class="loading-32" ng-if="FromNameLoading"></div>
            </div>
            <div class="col-sm-4 tip">
                <i class="fa fa-info-circle" tooltip='This will count in your character limit.'> </i>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label"> To: </label>
            <div class="col-sm-6">
                <div class="form-group" ng-show="SendToList">
                    <select chosen name="ToList" data-placeholder="Or select from an existing list or segment...." class="chosen-select form-control" tabindex="4" ng-model="ToList"
                    ng-options="contactGroup.name group by contactGroup.group for contactGroup in contactGroups track by contactGroup.id" lazy-load-options data-options="contactLists"></select>
                </div>
                <div class="form-group" ng-show="!SendToList">
                    <input type="text" name="to" placeholder="Enter phone numbers separated by a comma" class="form-control" ng-model="ToNumber" >
                </div>
                <a ng-app class="" ng-class="{true: 'addBtn', false: 'addBtn'}[SendToList]" ng-click="SendToList = !SendToList"> {{SendToList && 'Or click here to add numbers manually' || 'Or select from an existing list or segment.'}} </a>
            </div>
            <div class="col-md-4 col-sm-3 tip">
                <i ng-show="!SendToList" class="fa fa-info-circle" tooltip='Enter a phone number starting with the area code. Separate multiple numbers with a comma.'> </i>
                <div ng-show="PhoneNumberArrayValidator.PhoneNumbers.errorMessageToNumber && !SendToList" class="right-side-message error">
                    {{PhoneNumberArrayValidator.PhoneNumbers.errorMessageToNumber}}
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label"> Language: </label>
            <div class="col-sm-6">
                <select chosen ng-model="SelectedLanguage" ng-options="language.languageName for language in main.languages" data-placeholder="Select Message Language" disable-search="true"  class="form-control m-b" name="SelectLanguage"></select>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label"> Message text: </label>
            <div class="col-sm-6">
                <div class="text-dynamic-tags" ng-if="SendToList">
                    <button class="btn" ng-repeat="tag in dynamicContentKeys" ng-click="insertDynamicContent('send-message-txtarea', tag);">
                        {{dynamicContent[tag]}}
                    </button>
                </div>
                <textarea id="send-message-txtarea" name="MessageTxt" class="form-control" ng-maxlength="{{ maxLength }}" rows="3" ng-model="MessageTxt" ng-trim="false"></textarea>
                <div class="text-dynamic-notice" ng-if="hasTags">
                    <i class="fa fa-exclamation-triangle"> </i>
                    Exact character count cannot be calculated because your message contains dynamically generated data.
                </div>
                <div ng-hide="SendForm.$error.maxlength" class="text-counter">
                    <!--{{ 160 - (MessageTxt.length + FromName.length + optFields.OptOutTxt1.length + optFields.OptOutTxt3.length) - (FromName.length>0|iif:2:0) - (optFields.OptOutTxt1.length|iif:2:0) - (optFields.OptOutTxt3.length|iif:2:0)}}-->
                    {{ 136 - ((FromName.length > 0 && FromName.length + 2 || FromName.length) + MessageTxt.length + (optFields.OptOutTxt1.length > 0 && optFields.OptOutTxt1.length + 1 || optFields.OptOutTxt1.length)  + (optFields.OptOutTxt2.length > 0 && optFields.OptOutTxt2.length + 1 || optFields.OptOutTxt2.length)+ (optFields.OptOutTxt3.length > 0 && optFields.OptOutTxt3.length + 1 || optFields.OptOutTxt3.length)) }} characters left.
                </div>
                <div ng-show="SendForm.$error.maxlength" class="text-counter error">
                    Limit reached!
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <label class="col-sm-2 control-label"> Opt-out Message: </label>
            <div class="col-sm-6">
                <!--<div class="radio">
                <!--<label> <input icheck type="radio" name="OptOutMsg" value="standard" ng-model="OptOutMsg"> Standard </label>
                <label> <input icheck type="radio" name="OptOutMsg" value="custom" ng-model="OptOutMsg"> Customized </label>
                <label> <input icheck type="radio" name="OptOutMsg" value="write" ng-model="OptOutMsg"> Write opt-out message </label></div>
                <textarea ng-show="OptOutMsg == 'standard'" name="message" class="form-control" rows="2" ng-model="OptOutTxt1" ng-init="OptOutTxt1='This is standard'" disabled></textarea>
                <textarea ng-show="OptOutMsg == 'custom'" name="message" class="form-control" rows="2" ng-model="OptOutTxt2" ng-init="OptOutTxt2='This is custom'" disabled></textarea>
                <textarea placeholder="Write your opt-out message or leave it blank for no opt-out message" ng-show="OptOutMsg == 'write'" name="message" class="form-control" rows="2" ng-model="OptOutTxt3" maxlength="160"></textarea>
                </div>-->
                <select chosen data-placeholder="Select opt-out message..." disable-search="true" class="form-control m-b" name="OptOutMsg" ng-model="OptOutMsg">
                    <option value="standard"> Standard </option>
                    <option value="custom"> Custom opt-out message </option>
                    <option value="noMessage"> No opt-out message </option>
                    <option value="write"> Write opt-out message </option>
                </select>
                <div class="animate-switch-container" ng-switch on="OptOutMsg">
                    <textarea ng-init="optFields.OptOutTxt1='Reply STOP to end msgs.'; optFields.OptOutTxt2=''; optFields.OptOutTxt3=''" ng-switch-when="standard" name="message" class="form-control opt-out animate-switch" rows="2" ng-model="optFields.OptOutTxt1" ng-trim="false" readonly></textarea>
                    <textarea ng-init="optFields.OptOutTxt1=''; optFields.OptOutTxt2=main.Settings.defaultOptOutText; optFields.OptOutTxt3=''" ng-switch-when="custom" name="message" class="form-control opt-out animate-switch" rows="2" ng-model="optFields.OptOutTxt2" ng-trim="false" readonly></textarea>
                    <textarea ng-init="optFields.OptOutTxt1=''; optFields.OptOutTxt2=''; optFields.OptOutTxt3=''" ng-switch-when="noMessage" name="message" class="form-control opt-out disabled" rows="2" disabled></textarea>
                    <textarea ng-init="optFields.OptOutTxt1=''; optFields.OptOutTxt2=''" ng-switch-when="write" placeholder="Write your opt-out message" name="message" class="form-control opt-out animate-switch" rows="2" ng-model="optFields.OptOutTxt3"  ng-trim="false" ></textarea>
                </div>
            </div>
            <div class="col-sm-4 tip">
                <i class="fa fa-info-circle" tooltip='This will count in your character limit.'> </i>
            </div>
        </div>

        <br>

        <div class="form-group clearfix">
            <label class="col-sm-6 col-md-offset-2 checkbox">
                <input icheck type="checkbox" value="schedule" ng-model="ScheduleCheck">
                Schedule for later </label>
        </div>
        <div ng-show="ScheduleCheck">
            <div ng-show="ScheduleCheck&&!SendForm.$valid" class="error-box">
                All dates should be in future on reccuring and schedule messages
            </div>
            <div class="form-group clearfix" ng-repeat="sheduledDateTime in ArrayScheduledDateTime" ng-controller="ScheduleRepeatCtrl">
                <div class="row">
                    <label class="col-sm-2 control-label">
                        <button class="btn btn-search" ng-click="ArrayScheduledDateTime.splice($index, 1)"  ng-show="ArrayScheduledDateTime.length>1 && ScheduleCheck">
                            <i class="fa fa-minus"> </i>
                        </button> Schedule:</label>
                    <div class="send-mesasge-schedule-row col-md-10">
                        <div class="send-mesasge-schedule-field-wrapper">
                            <span class="label-icon"><i class="fa fa-calendar"> </i></span>
                            <div class="btn-group datetimepicker-wrapper" >
                                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="sheduledDateTime.SetDate" is-open="sheduledDateTime.opened" min-date="minDate" show-weeks="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event,sheduledDateTime)" />
                            </div>
                        </div>
                        <div class="send-mesasge-schedule-field-wrapper">
                            <span class="label-icon"><i class="fa fa-clock-o"> </i></span>
                            <div class="btn-group timing" dropdown is-open="status.isopenHour">
                                <input type="text" name="SetTimeHour" placeholder="Hour" class="form-control" dropdown-toggle ng-model="sheduledDateTime.SetTimeHour" readonly>
                                <ul class="dropdown-menu time-pick" role="menu">
                                    <li>
                                        <span>
                                            Set hours
                                        </span>
                                    </li>
                                    <!--li ng-repeat="setHourRow in [0, 1, 2, 3, 4, 5]">
                                    <a ng-repeat="setHourLink in [setHourRow * 4, setHourRow * 4 + 1, setHourRow * 4 + 2, setHourRow * 4 + 3]" ng-click='sheduledDateTime.SetTimeHour = (setHourLink < 10) ? "0" + setHourLink : setHourLink'>{{(setHourLink < 10) ? "0" + setHourLink : setHourLink}}</a>
                                    </li-->
                                    <li>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "00"'> 00</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "01"'> 01</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "02"'> 02</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "03"'> 03</a>
                                    </li>
                                    <li>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "04"'> 04</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "05"'> 05</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "06"'> 06</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "07"'> 07</a>
                                    </li>
                                    <li>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "08"'> 08</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "09"'> 09</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "10"'> 10</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "11"'> 11</a>
                                    </li>
                                    <li>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "12"'> 12</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "13"'> 13</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "14"'> 14</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "15"'> 15</a>
                                    </li>
                                    <li>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "16"'> 16</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "17"'> 17</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "18"'> 18</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "19"'> 19</a>
                                    </li>
                                    <li>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "20"'> 20</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "21"'> 21</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "22"'> 22</a>
                                        <a ng-click='sheduledDateTime.SetTimeHour = "23"'> 23</a>
                                    </li>
                                </ul>
                            </div>
                            &nbsp;:&nbsp;
                            <div class="btn-group timing" dropdown is-open="status.isopenMinute">
                                <input type="text" name="SetTimeMinute" placeholder="Minute" class="form-control" dropdown-toggle ng-model="sheduledDateTime.SetTimeMinute" readonly>
                                <ul class="dropdown-menu time-pick" role="menu">
                                    <li>
                                        <span>
                                            Set minutes
                                        </span>
                                    </li>
                                    <li>
                                        <!--a ng-repeat="setMinutesLink in ['00','15', '30', '45']" ng-click='sheduledDateTime.SetTimeMinute = setMinutesLink'>{{setMinutesLink}}</a-->
                                        <a ng-click='sheduledDateTime.SetTimeMinute = "00"'> 00</a>
                                        <a ng-click='sheduledDateTime.SetTimeMinute = "15"'> 15</a>
                                        <a ng-click='sheduledDateTime.SetTimeMinute = "30"'> 30</a>
                                        <a ng-click='sheduledDateTime.SetTimeMinute = "45"'> 45</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 control-label"> Recur:</label>
                    <div class="send-mesasge-schedule-row col-md-10">
                        <div class="send-mesasge-schedule-field-wrapper">
                            <span class="label-icon" title="Every"><i class="fa fa-history"> </i></span>
                            <div class="btn-group chosen">
                                <select chosen data-placeholder="Select an Option..." disable-search="true"  class="form-control m-b" ng-model="sheduledDateTime.SetRecurringType" ng-options="item.value as item.label for item in RecurringTypes"></select>
                            </div>
                        </div>
                        <div class="send-mesasge-schedule-field-wrapper">
                            <span class="label-icon" title="End date"><i class="fa fa-power-off"> </i></span>
                            <div class="btn-group datetimepicker-wrapper">
                                <input type="text" class="form-control" ng-model="sheduledDateTime.SetRecurringEndDate" datepicker-popup="{{format}}" is-open="sheduledDateTime.opened_recurring" min-date="sheduledDateTime.SetDate" show-weeks="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-click="openRecurring($event,sheduledDateTime)" ng-disabled="!sheduledDateTime.SetRecurringType"/>
                            </div>

                        </div>
                        <i class="fa fa-info-circle" style="position:initial;margin-top:10px;margin-left:-5px" tooltip='Recurring messages are text messages that will be sent out on a regular basis – daily, weekly or monthly. To create a recurring message, Select Schedule for Later and define your start and end time for the message to be sent on a recurring basis.'></i>
                    </div>
                </div>
            </div>
            <a ng-click="AddScheduledDateTime()" ng-show="ArrayScheduledDateTime.length<5 && ScheduleCheck"> + Add more </a>
        </div>
        <!--<div class="form-group" id="data_3">
        <div class="input-group date">
        <input type="datetime" class="form-control" date-time ng-model="sampleDate" view="hours" max-view="hours" min-view="minutes" format="HH:mm">
        <span class="input-group-addon"><i class="fa fa-clock"></i></span>
        </div>-->
        <!-- <div class="dropdown">
        <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
        <div class="input-append"><input type="text" class="input-large" data-ng-model="data.date"><span class="add-on"><i
        class="icon-calendar"></i></span>
        </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker data-ng-model="data.date"
        data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
        </ul>
        </div>-->
        <!--<div class="dropdown">
        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
        <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView: 'year' }"/>
        </ul>
        </div>-->
        <!--<datetimepicker data-ng-model="data.date"></datetimepicker>-->
        <!--<div ng-controller="DateTimePickerCtrl">
        <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" ng-model="date" show-meridian="showMeridian" date-format="mm/dd/yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
        </div>-->
        <br>
        <div class="form-group clearfix" ng-show="main.accountInfo.compliance != null && main.accountInfo.compliance != '' && main.accountInfo.compliance != 0">
            <label class="col-sm-6 col-md-offset-2 checkbox">
                <div class="icheckbox_square-green" style="position: relative;">
                    <!-- TODO -->
                    <input icheck="" type="checkbox" value="1" ng-model="ComplianceAcknowledged" class="ng-untouched ng-valid ng-dirty ng-valid-parse" style="position: absolute; opacity: 0;">
                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                </div> Compliance acknowledgement </label>
        </div>
        <br>

        <div class="send-message-from-name form-group clearfix test-sms">
            <label class="col-sm-2 control-label"> Test SMS: </label>
            <div class="col-sm-2">
                <input type="text" name="TestSMS" placeholder="Enter Test Number" class="form-control ng-pristine ng-valid ng-touched" ng-trim="false" ng-model="testSMSNumber" ng-change="testSMSSubmit = false">
                <small ng-if="testSMSSubmit && !testSMSNumber" class="error-hint">Please specify a number for the test SMS toi be sent to.</small>
            </div>
            <div class="col-sm-2 tip">
                <!--<i class="fa fa-info-circle" tooltip="Test SMS"> </i>-->
                <a class="btn test-btn" ng-click="sendTestSMS()">Send test sms</a>
            </div>
            <div class="col-md-2 tip">
                <i ng-show="!SendToList" class="fa fa-info-circle" tooltip='Enter a phone number starting with the area code. Separate multiple numbers with a comma.'> </i>
                <div ng-show="PhoneNumberArrayValidator.PhoneNumbers.errorMessagetestSMSNumber && !SendToList &&testSMSNumber" class="right-side-message error">
                    {{PhoneNumberArrayValidator.PhoneNumbers.errorMessagetestSMSNumber}}
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <div class="col-md-6 col-md-offset-2" ng-controller="notifyCtrl">
            <a class="btn" ng-click="saveDraft()"><i class="fa fa-pencil"> </i> Save as draft</a>
            <div class="btn-group dropup discard-btn">
                <a data-toggle="dropdown" class="btn btn-discard dropdown-toggle" aria-expanded="false"><i class="fa fa-times"> </i> Discard</a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        Are you sure you want to discard the message?
                    </li>
                    <li>
                        &nbsp;
                    </li>
                    <li>
                        <span ng-click="reset(); ResetMsg()" class="discard-cancel" data-toggle="dropdown">
                            <strong> Yes </strong>
                        </span>
                        &nbsp;&nbsp;&nbsp;
                        <span class="discard-cancel" data-toggle="dropdown" ng-click="animation = 'FadeInLeft'">
                            <strong> No </strong>
                        </span>
                    </li>
                </ul>
            </div>
            <a class="btn btn-send right" ng-disabled="progress.active()" ng-click="sendMessage(false)" ng-hide="ScheduleCheck"> <span><i class="fa fa-paper-plane"> </i>
                Send now</span> </a>
            <a class="btn btn-send right" ng-click="sendMessage(true)" ng-show="ScheduleCheck" ng-disabled="!SendForm.$valid"> <span><i class="fa fa-clock-o"> </i>
                Schedule</span> </a>

        </div>
    </form>
</div>