<h2 class="section-title">
{{controllerParent.Name}} column settings
</h2>
<div ng-repeat="(index, column) in controllerParent.columnDefs">
    <div class="divider ng-scope"></div>
    <h3 ng-show="column.displayName">
    {{column.displayName}}
    </h3>
    <h3 ng-show="column.button">
    {{column.button}}
    </h3>
    <button title="Up" class="btn" ng-disabled="index==0" ng-click="controllerParent.Events.ColumnUp_onClick(controllerParent, column, index)">
        <i class="fa fa-arrow-up">
        </i>
    </button>
    <button title="Down" class="btn" ng-disabled="index==controllerParent.columnDefs.length-1" ng-click="controllerParent.Events.ColumnDown_onClick(controllerParent, column, index)">
        <i class="fa fa-arrow-down">
        </i>
    </button>
    <label ng-hide="column.canBeClicked">
        <input type="checkbox" ng-model="column.checked" >
        </input>display
    </label>
</div><div class="divider ng-scope"></div>

<a class="btn left" style="background: none;margin-bottom: 10px; width:100%" ng-click="controllerParent.Events.DefaultColumns(controllerParent)">
    <span> Default</span>
</a>

<a class="btn btn-send left" ng-click="controllerParent.Events.UpdateColumns(controllerParent)">
    <span> Save</span>
</a>