<h1>Messages </h1>

<div class="tab-navigation animated fadeInRight">
<a ui-sref-active="active" ui-sref="messages.inbox" class="btn tab-style active"><i class="fa fa-inbox"></i> Inbox</a>
<a ui-sref-active="active" ui-sref="messages.sent" class="btn tab-style"><i class="fa fa-share-square"></i> Sent</a>
<a ui-sref-active="active" ui-sref="messages.scheduled" class="btn tab-style"><i class="fa fa-clock-o"></i> Scheduled</a>
<a ui-sref-active="active" ui-sref="messages.drafts" class="btn tab-style"><i class="fa fa-pencil-square"></i> Drafts</a>
<a ui-sref-active="active" ui-sref="messages.trash" class="btn tab-style"><i class="fa fa-trash-o"></i> Trash</a>
</div>
<div class="col-md-12 content-holder animated fadeInRight messages messages-inbox" ng-class="animation" ng-controller="ngContactListCtrl">

<h2 class="section-title">Drafts</h2>

<div class="top-buttons">
<div class="btn-group dropdown discard-btn">
<button data-toggle="dropdown" class="btn btn-discard dropdown-toggle" aria-expanded="false">Delete message</button>
<ul class="dropdown-menu dropdown-alerts">
    <li>Are you sure you want to delete the message(s)?</li>
    <li>&nbsp;</li>
    <li><span class="discard-cancel" data-toggle="dropdown"><strong>Yes</strong></span> &nbsp;&nbsp;&nbsp;&nbsp;  <span class="discard-cancel" data-toggle="dropdown" ng-click="animation = 'FadeInLeft'"><strong>No</strong></span></li>
</ul>
</div>

<div class="page-select-wrapper">
<strong>Show:</strong>&nbsp; <select class="page-select" ng-model="pagingOptions.pageSize">
	<option ng-repeat="size in pagingOptions.pageSizes">{{size}}</option>
</select>
</div>

</div><!-- end top button -->

<div>


<input class="search-input" placeholder="Search by contact number, name, email or custom field" type="text" ng-model="filterOptions.filterText">



</div>

      <br>



<!--START TABLE-->
<div class="gridStyle" ng-grid="ngOptions"></div>




</div>
</div>

</div>
