<h1>Reports</h1>

<div class="animated fadeInRight reports clearfix">
	
<div class="col-md-12">
	<div class="content-box clearfix">

	<br>
	<img src="img/graph.png" class="img-responsive">

	</div>
</div>
	<div class="col-md-3">
	<div class="content-box clearfix">
		<h2 class="blue">Sent messages</h2>
		<p class="number-of">234</p>
		<p class="number-of-what">Messages</p>
		
		<br>
	</div>
	</div>


<div class="col-md-3">
	<div class="content-box clearfix">
		<h2 class="orange">Received messages</h2>
		<p class="number-of">1,334</p>
		<p class="number-of-what">Messages</p>
		
		<br>
	</div>
</div>

<div class="col-md-3">
	<div class="content-box clearfix">
		<h2 class="green">Scheduled messages</h2>
		<p class="number-of">96</p>
		<p class="number-of-what">Messages</p>
		
		<br>
	</div>
</div>

<div class="col-md-3">
	<div class="content-box clearfix">
		<h2 class="violet">Opt Outs</h2>
		<p class="number-of">1,056</p>
		<p class="number-of-what">Numbers</p>
		<br>
	</div>
</div>
</div>
