<div class="col-md-12 content-holder animated fadeInRight settings autoresponder" ng-class="animation">
    <br><br>
    <p>Here are all your scheduled reports. To add a new report, click or tap Create Scheduled Report. To stop a scheduled report, select the report and click or tap Delete. <a href="http://www.impacttext.com/support/how-to/reports" target="_blank">Learn more.</a></p>
    <br />
    
    <button class="btn btn-add" ng-click="cpo.Events.Create_onClick(cpo)" ><i class="fa fa-plus"></i>
                            Create Scheduled Report
                        </button>
    <div class="btn-group dropup discard-btn">
        
        
        <a data-toggle="dropdown" class="btn btn-discard dropdown-toggle" aria-expanded="false"><i class="fa fa-trash-o">
        </i>
        Delete</a>
        <ul class="dropdown-menu dropdown-alerts">
            <li>
                Are you sure you want to delete the report/reports?
            </li>
            <li>
                &nbsp;
            </li>
            <li>
                <span ng-click="cpo.Events.Delete_onClick(cpo)" class="discard-cancel" data-toggle="dropdown">
                    <strong>
                    Yes
                    </strong>
                </span>
                &nbsp;&nbsp;&nbsp;
                <span class="discard-cancel" data-toggle="dropdown" ng-click="animation = 'FadeInLeft'">
                    <strong>
                    No
                    </strong></span>
            </li>
        </ul>
        &nbsp;
        
    </div>
    <br />
    <br />
    <div class="gridStyle" ng-grid="rsCtrl.ngReportsListOptions"></div>
</div>