<h1>Reports</h1>
<div class="animated fadeInRight reports clearfix" ng-controller="ReportsBarCtrl">

    <div class="col-md-12">
        <div class="content-box clearfix">
        <div class="col-md-12">

        <br><br>
            	<span class="label-icon"><span><i class="fa fa-calendar"></i>Choose date range:</span>&nbsp;&nbsp;&nbsp;&nbsp; from</span> <div class="btn-group datetimepicker-wrapper" >

<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="StartDate" is-open="opened" min-date="minDate" show-weeks="false" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)" />
</div>

<span class="label-icon"> &nbsp;&nbsp;&nbsp;&nbsp;to</span> <div class="btn-group datetimepicker-wrapper" >
<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="EndDate" is-open="opened2" min-date="StartDate" show-weeks="false" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open2($event)" />
</div>

&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-add">Show report</button>

<br><br>
</div>

            <div class="col-sm-9">
                <br>
                <canvas barchart options="barOptions" data="barData" width="200" height="100" legend=true responsive=true></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content-box clearfix">
            <h2 class="blue">Sent messages</h2>
            <p class="number-of">234</p>
            <p class="number-of-what">Messages</p>

            <br>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content-box clearfix">
            <h2 class="orange">Received messages</h2>
            <p class="number-of">1,334</p>
            <p class="number-of-what">Messages</p>

            <br>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content-box clearfix">
            <h2 class="green">Scheduled messages</h2>
            <p class="number-of">96</p>
            <p class="number-of-what">Messages</p>

            <br>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content-box clearfix">
            <h2 class="violet">Opt Outs</h2>
            <p class="number-of">1,056</p>
            <p class="number-of-what">Numbers</p>
            <br>
        </div>
    </div>
</div>