<form name="ReportForm" novalidate role="form">
    <div class="animated fadeInRight reports clearfix" >
        <div class="content-holder col-md-12" style="margin-bottom:30px">
            <div class="clearfix">
                <div class="clearfix">
                    <br>
                    <br>
                    <div ng-show="!rsCtrl.scheduled">
                        <p>
                        Analyze the effectiveness of your campaigns with ImpactText reports. Look for trends in your incoming and outgoing messages over specific time periods.</p>
                        <p> reports for one or more SMS codes associated with your account. View total number of opt-ins and opt-outs, and more. To run a report select a date range, SMS code(s) and list(s), then click or tap on View Report.
                        </p>
                    </div>

                    <div  ng-show="rsCtrl.scheduled">
                        <p><strong>You can create four types of scheduled reports:</strong></p>

                        <p><strong>Daily</strong> – Runs daily and covers a 24-hour period previous to the run time. For example, a report set to run daily at 12:00AM will cover the period from 12:00AM to 11:59PM the previous day.</p>

                        <p><strong>Weekly</strong> – Runs once a week on the day and time you choose and covers the previous 7-day period. For example, a report set to run weekly at 12:00AM will cover the 7 previous days beginning at 12:00AM on Day 1 and ending at 11:59PM on Day 7.</p>

                        <p><strong>Monthly</strong> - Runs once a month on the day and time you choose and covers the previous 30-day period. For example, a report set to run monthly at 12:00AM will cover the 30 previous days beginning at 12:00AM on Day 1 and ending at 11:59PM on Day 30.</p>

                        <p><strong>Custom</strong> – Runs one time, at the time and date you select with a custom date range.</p>

                        <p>All reports will continue into the future. To stop a report, go to Manage and delete the report you want to end.</p>
                    </div>
                    <br>
                    <br>



                    <!-- REPORT NAME -->
                    <div ng-show="rsCtrl.scheduled">
                        <span class="label-icon"><span><i class="fa fa-bar-chart">
                        </i>
                        Report Name:</span>
                        &nbsp;&nbsp;&nbsp;&nbsp; </span>
                        <div class="btn-group datetimepicker-wrapper" >
                            <input ng-required="true" id="idName" type="text" class="form-control" placeholder="Enter report name" ng-model="rsCtrl.Name" style="width: 300px;"/>
                        </div>
                        <br><br>

                    </div>
                    <!-- END REPORT NAME -->


                   



                    <!-- RECUR -->

                    <div ng-show="rsCtrl.scheduled">
                        <span class="label-icon"><span><i class="fa fa-history">
                        </i>
                        Type: &nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                    <select class="page-select" ng-model="rsCtrl.SetRecurringType" ng-options="item.value as item.label for item in cpo.RecurringTypes" style="width: 165px;"></select>
                    <br><br>
                </div>

                <!-- END RECUR -->
                <!-- DATE RANGE -->
                <div ng-hide="rsCtrl.scheduled && rsCtrl.SetRecurringType!='C'">
                    <span class="label-icon"><span><i class="fa fa-calendar">
                    </i>
                    Choose date range:</span>
                    &nbsp;&nbsp;&nbsp;&nbsp; from</span>
                    <div class="btn-group datetimepicker-wrapper" >
                        <input id="idStartDate" type="text" class="form-control" datepicker-popup="{{rsCtrl.format}}" ng-model="rsCtrl.StartDate" is-open="rsCtrl.StartDateOpened" min-date="" show-weeks="false" max-date="" datepicker-options="rsCtrl.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="cpo.Events.StartDate_onClick(cpo,$event)" />
                    </div>
                    <span class="label-icon">
                    &nbsp;&nbsp;&nbsp;&nbsp;to
                    </span>
                    <div class="btn-group datetimepicker-wrapper" >
                        <input id="idEndDate" type="text" class="form-control" datepicker-popup="{{rsCtrl.format}}" ng-model="rsCtrl.EndDate" is-open="rsCtrl.EndDateOpened" min-date="rsCtrl.StartDate" show-weeks="false" max-date="" datepicker-options="rsCtrl.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="cpo.Events.EndDate_onClick(cpo,$event)" />
                    </div>
                    <br><br>
                </div>
                <!-- END DATE RANGE -->

                 <!-- START SCHEDULE -->
                    <div ng-show="rsCtrl.scheduled" class="schedule-reports">

                        <span class="label-icon"><span><i class="fa fa-phone"></i>Schedule: &nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                        <div class="btn-group datetimepicker-wrapper" >
                            <input type="text" class="form-control" datepicker-popup="{{rsCtrl.format}}" ng-model="rsCtrl.sheduledDateTime" is-open="rsCtrl.sheduledDateTimeOpened" min-date="rsCtrl.minDate" show-weeks="false" datepicker-options="rsCtrl.dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="cpo.Events.ScheduledDate_onClick(cpo,$event)" />
                        </div>
                        <span class="label-icon"><i class="fa fa-clock-o"> </i></span>
                        <div class="btn-group timing" dropdown is-open="status.isopenHour">
                            <input type="text" name="SetTimeHour" placeholder="Hour" class="form-control" dropdown-toggle ng-model="rsCtrl.SetTimeHour" readonly>
                            <ul class="dropdown-menu time-pick" role="menu">
                                <li> <span> Set hours </span> </li>
                                <li> <a ng-click='rsCtrl.SetTimeHour = "00"'> 00 </a> <a ng-click='rsCtrl.SetTimeHour = "01"'> 01 </a> <a ng-click='rsCtrl.SetTimeHour = "02"'> 02 </a> <a ng-click='rsCtrl.SetTimeHour = "03"'> 03 </a> </li>
                                <li> <a ng-click='rsCtrl.SetTimeHour = "04"'> 04 </a> <a ng-click='rsCtrl.SetTimeHour = "05"'> 05 </a> <a ng-click='rsCtrl.SetTimeHour = "06"'> 06 </a> <a ng-click='rsCtrl.SetTimeHour = "07"'> 07 </a> </li>
                                <li> <a ng-click='rsCtrl.SetTimeHour = "08"'> 08 </a> <a ng-click='rsCtrl.SetTimeHour = "09"'> 09 </a> <a ng-click='rsCtrl.SetTimeHour = "10"'> 10 </a> <a ng-click='rsCtrl.SetTimeHour = "11"'> 11 </a> </li>
                                <li> <a ng-click='rsCtrl.SetTimeHour = "12"'> 12 </a> <a ng-click='rsCtrl.SetTimeHour = "13"'> 13 </a> <a ng-click='rsCtrl.SetTimeHour = "14"'> 14 </a> <a ng-click='rsCtrl.SetTimeHour = "15"'> 15 </a> </li>
                                <li> <a ng-click='rsCtrl.SetTimeHour = "16"'> 16 </a> <a ng-click='rsCtrl.SetTimeHour = "17"'> 17 </a> <a ng-click='rsCtrl.SetTimeHour = "18"'> 18 </a> <a ng-click='rsCtrl.SetTimeHour = "19"'> 19 </a> </li>
                                <li> <a ng-click='rsCtrl.SetTimeHour = "20"'> 20 </a> <a ng-click='rsCtrl.SetTimeHour = "21"'> 21 </a> <a ng-click='rsCtrl.SetTimeHour = "22"'> 22 </a> <a ng-click='rsCtrl.SetTimeHour = "23"'> 23 </a> </li>
                            </ul>
                        </div>
                        &nbsp;:&nbsp;
                        <div class="btn-group timing" dropdown is-open="status.isopenMinute">
                            <input type="text" name="SetTimeMinute" placeholder="Minute" class="form-control" dropdown-toggle ng-model="rsCtrl.SetTimeMinute" readonly>
                            <ul class="dropdown-menu time-pick" role="menu">
                                <li> <span> Set minutes </span> </li>
                                <li> <a ng-click='rsCtrl.SetTimeMinute = "00"'> 00 </a> <a ng-click='rsCtrl.SetTimeMinute = "15"'> 15 </a> <a ng-click='rsCtrl.SetTimeMinute = "30"'> 30 </a> <a ng-click='rsCtrl.SetTimeMinute = "45"'> 45 </a> </li>
                            </ul>
                        </div>
                        <br><br>
                    </div>
                    <!-- END SCHEDULE -->


                <!-- CHOOSE SMS & LIST -->
                <div>
                    <span class="label-icon"><span><i class="fa fa-phone">
                    </i>
                    Choose SMS code: </span></span>
                    <select class="page-select" ng-model="rsCtrl.selectedDID" ng-options="number.DID for number in main.Settings.Numbers" style="width: 165px; margin-left:12px">
                        <option value="" selected="selected" label="">
                            All codes
                        </option>
                    </select>
                    <!-- <br>
                    <br> -->
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <!-- <span class="label-icon"><span><i class="glyphicon glyphicon-list-alt">
                                                                                </i>
                                                                                Choose contact list: &nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                                                                                <select class="page-select" ng-model="rsCtrl.selectedContactList" ng-options="list.contactListName for list in main.contactLists" style="width: 165px;">
                                                                                            <option value="" selected="selected" label="">
                                                                                                        All Contact lists
                                                                                            </option>
                    </select> -->
                    <span class="label-icon"><span><i class="glyphicon glyphicon-list-alt">
                    </i>
                    Choose list or segment: &nbsp;&nbsp;&nbsp;&nbsp;</span></span>
                    <select class="page-select" ng-model="rsCtrl.selectedContactGroup"
                        ng-options="contactGroup.name group by contactGroup.group for contactGroup in main.contactGroups track by contactGroup.id" style="width: 165px;">
                        <option value="" selected="selected" label="">
                            All
                        </option>
                    </select>
                    <br><br>
                </div>

                <!-- END SMS & LIST -->





                <!-- Start EMAIL -->
                <div ng-show="rsCtrl.scheduled">
                    <span class="label-icon"><span><i class="fa fa-envelope">
                    </i>
                    Email:</span>
                    &nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <div class="btn-group datetimepicker-wrapper" >
                        <input ng-required="true" id="ideMail" type="email" class="form-control" placeholder="Enter email address" ng-model="rsCtrl.eMail" style="width: 300px;"/>
                    </div>

                    <br><br>
                </div>
                <!-- END EMAIL -->
            </div>
            <br>
            <!-- BUTTONS -->
            <div class="clearfix">
                <button ng-show="!rsCtrl.scheduled" class="btn btn-add" ng-click="cpo.Events.ShowReport_onClick(cpo)">
                Run Report
                </button>
                <div ng-show="rsCtrl.scheduled">

                    <!-- <a ng-click="cpo.Events.ShowReport_onClick(cpo)" class="btn btn-back">
                                                                                    Preview report
                    </a> -->
                    <button class="btn btn-add" ng-click="cpo.Events.ScheduleReport_onClick(cpo)" ng-disabled="!ReportForm.$valid">
                    Save and schedule report
                    </button>
                    <a ng-click="cpo.Events.BackToReports_onClick(cpo)" class="btn btn-back"><i class="fa fa-undo">
                    </i>
                    Back to Reports</a>
                </div>
                <br><br>
            </div>
            <!-- END BUTTONS -->
            <br clear="all">

            <div ng-hide="rsCtrl.scheduled">
                <div class="col-sm-9">
                    <br>
                    <canvas barchart options="rsCtrl.barOptions" data="rsCtrl.barData" width="200" height="100" legend=true responsive=true></canvas>
                </div>
                <br clear="all">
                <br>
                <div style="background:whitesmoke; padding:15px; margin: 0 15px" tooltip="Average reply time in minutes.">
                    <span ng-show="cpo.rsCtrl.AverageReplyTime" class="label-icon"><span><i class="fa fa-clock-o">
                    </i>
                    {{cpo.rsCtrl.AverageReplyTime}}</span></span>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div style="margin-top:30px" class="row" ng-hide="rsCtrl.scheduled">
        <div ng-repeat = "dataSet in cpo.rsCtrl.barData.datasets">
            <div class="col-md-3">
                <div class="content-box clearfix">
                    <h2 style="background: {{dataSet.fillColor}}" tooltip="{{dataSet.tooltip}}">
                    {{dataSet.label}}
                    </h2>
                    <p class="number-of" >
                    {{dataSet.data[0]}}
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
</form>