<h1>
	{{$state.current.data.pageTitle}}
</h1>
<div class="col-md-12 content-holder animated fadeInRight settings" ng-class="animation">
	<div ng-controller="ngForwardEmailCtrl as forwardCtrl">
		<h2 class="section-title">SMS to Email forwarding</h2>
		<p>Set if you wish to forward incoming SMS messages to email for each individual number.</p>
		<br />

		<div class="form-group form-group-header clearfix" ng-controller="notifyCtrl" ng-init="forceNotifyInit = true">
			<div class="col-sm-4"><label>ImpactText Number</label></div>
			<div class="col-sm-4"><label>Forward Email Address</label></div>
			<div class="col-sm-4"></div>
		</div>
		<div class="forward-email-number-list" ng-repeat="(key, value) in forwardCtrl.numbers">
			<div class="form-group clearfix">
				<div class="column-did col-sm-4">{{value.DID}}</div>
				<div class="column-emailForwardAddress col-sm-4">
					<div ng-show="forwardCtrl.edit[key]"><input type="text" class="form-control" ng-model="value.emailForwardAddress" /></div>
					<div ng-show="!forwardCtrl.edit[key]">{{value.emailForwardAddress}}</div>
				</div>
				<div class="col-sm-4">
					<button ng-if="!forwardCtrl.edit[key]" class="btn" ng-click="forwardCtrl.edit[key] = true"><i class="fa fa-pencil"></i> Edit</button>
					<button ng-if="forwardCtrl.edit[key]" class="btn btn-primary" ng-click="cpo.Events.Save_onClick(cpo, key)"><i class="fa fa-floppy-o"></i> Save</button>
				</div>
			</div>
		</div>
	</div>

	<div class="settings-section-email2sms settings-section" ng-controller="ngEmail2SMSCtrl as e2sCtrl" ng-init="forceNotifyInit = true">
		<h2 class="section-title">Email to SMS forwarding</h2>
		<p>Register email addresses for Email to SMS forwarding</p>
		<br />

		<div class="form-group clearfix" ng-controller="notifyCtrl">
			<div class="email2sms-list" ng-repeat="(key, value) in e2sCtrl.email2sms">
				<input type="text" class="form-control" ng-model="e2sCtrl.newEmail2SMS[key]" />
			</div>
			<button class="btn btn-primary" ng-click="cpo.Events.Save_onClick(cpo)"><i class="fa fa-floppy-o"></i> Save</button>
		</div>
	</div>
</div>