<h2 class="section-title">
Autoresponder
</h2>
<p>
    Autoresponders are automated text messages that are sent back in reply to incoming texts based on a rule you create. Each autoresponder is activated by a “trigger term” that initiates the process. For example, you could send a link to a coupon back to every incoming text that mentions the term SALE.
</p>
<br>
<br>
<label class="control-label">
    Manage rules for selected DID:
</label>
<div class="form-group clearfix">
    <div class="col-sm-6">
        <select class="form-control m-b" name="FromNumber" ng-model="arCtrl.fromNumber" ng-options="fNumber.DID for fNumber in main.fromNumbers track by fNumber.DIDID" required ></select>
    </div>
</div>
<br>
<br>
<!--START TABLE--><div class="gridStyle" ng-grid="ngRespondersOptions"></div>
