<h1>
Account Settings
</h1>
<div class="col-md-12 content-holder animated fadeInRight settings" ng-class="animation" ng-controller="ngSettintsCtrl as sCtrl">
    <div ng-controller="ngInboxNotifyCtrl">
        <!-- settings section -->
        <div class="settings-section">
            <h2 class="section-title">
            Opt-out
            </h2>
            <p>
                Set your custom opt-out here. It will appear as the default opt-out message when you go to Compose Message.
            </p>
            <br>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label">
                    Opt-out Text:
                </label>
                <div class="col-sm-6">
                    <input type="text" name="defaultOptOutText" ng-model="main.Settings.defaultOptOutText" class="form-control"  ng-trim="false">
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-info-circle" tooltip='This will count in your character limit.'>
                    </i>
                </div>
            </div>
        </div><!-- end settings section -->
        <!-- settings section -->
        <div class="settings-section">
            <h2 class="section-title">
            Page View
            </h2>
            <p>
                Set the default view for number of items per page.
            </p>
            <br>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label">
                    Page size:
                </label>
                <div class="col-sm-2">
                    <select class="form-control m-b" name="DefaultPageSize" ng-model="main.Settings.defaultPageSize">
                        <option value="10">
                            10
                        </option>
                        <option value="20">
                            20
                        </option>
                        <option value="50">
                            50
                        </option>
                        <option value="100">
                            100
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <!-- end settings section -->
        <!-- settings section -->
        <!-- <div class="settings-section">
        <h2 class="section-title">
        Forward SMS
        </h2>
        <p>
        Set forward for incoming SMS
        </p>
        <br>
        <div class="form-group clearfix">
        <label class="col-sm-2 control-label">
        Forward Number:
        </label>
        <div class="col-sm-6">
        <input type="text" name="SetForward" placeholder="Set your forward" ng-model="SetForward" class="form-control"  ng-trim="false">
        </div>
        <div class="col-sm-4">
        <i class="fa fa-info-circle" tooltip='Set forward for incoming SMS'>
        </i>
        </div>
        </div>
        </div> -->
        <!-- end settings section -->

        <br>
        <br>
        <br>
        <div class="settings-section">
        <h2 class="section-title">
        Profile
        </h2>
        <p>
            <a ui-sref="profile">Go to profile page</a>
        </p>
        <br>
        
    </div><!-- end settings section -->
        <div class="col-sm-6 col-sm-offset-2">
            <button class="btn btn-send smaller right" ng-click="cpo.Events.Save_onClick(cpo)">
                <span><i class="fa fa-floppy-o">
                    </i>
                    Save changes</span>
            </button>
        </div>
    </div>
</div>