<h1>
Settings
</h1>
<div class="col-md-12 content-holder animated fadeInRight settings autoresponder" ng-class="animation" ng-controller="ngAutoresponderCtrl as arCtrl">
    <div ng-controller="ngInboxNotifyCtrl">
        <div ng-show = "cpo.list" ng-include="'views/settings_autoresponders_list.html'"></div>
        <div ng-show = "cpo.rule" ng-include="'views/settings_autoresponders_rule.html'"></div>
        <div ng-show = "!cpo.rule&&!cpo.list">
            Autoresponders under constuction!
        </div>
    </div>
</div>