<h1>Support</h1>
<div class="animated fadeInRight support clearfix">
    <div class="col-lg-12">
        <div class="content-box clearfix">
            <h2 class="blue">User Guide</h2>
            <div class="row">
                <div class="col-sm-12 txt-row">
                    <h3 class="blue-txt larger">Getting Started with ImpactText</h3>
                    <p>Choose a topic to learn more about ImpactText</p>
                </div>
                <div class="col-md-4">
                    <div class="content-box-inside">
                        <h2 class="blue-txt">Messages</h2>
                        <ul class="dashboard-li">

                            <li><i class="fa fa-caret-right blue-txt"></i> <a href="http://www.impacttext.com/support/how-to/messages" target="_blank">Send a text message to a single contact</a></li>
                            <li><hr></li>
                            <li><i class="fa fa-caret-right blue-txt"></i> <a href="http://www.impacttext.com/support/how-to/messages" target="_blank">Send a text message to a list of contacts</a></li>
                            <li><hr></li>
                            <li><i class="fa fa-caret-right blue-txt"></i> <a href="http://www.impacttext.com/support/how-to/messages#inbox" target="_blank">View incoming messages</a></li>
                        </ul>
                        <a href="http://www.impacttext.com/support/how-to/messages" target="_blank" class="btn right">See more topics</a>
                        <br>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-box-inside">
                        <h2 class="blue-txt">Contacts & Lists</h2>
                        <ul class="dashboard-li">

                            <li><i class="fa fa-caret-right blue-txt"></i> <a href="http://www.impacttext.com/support/how-to/contacts-and-lists#create-list" target="_blank">Create a list</a></li>
                            <li><hr></li>
                            <li><i class="fa fa-caret-right blue-txt"></i> <a href="http://www.impacttext.com/support/how-to/contacts-and-lists#single-contact" target="_blank">Add a single contact</a></li>
                            <li><hr></li>
                            <li><i class="fa fa-caret-right blue-txt"></i> <a href="http://www.impacttext.com/support/how-to/contacts-and-lists#multiple-list" target="_blank">Upload a list of contacts</a></li>
                        </ul>
                        <a href="http://www.impacttext.com/support/how-to/contacts-and-lists" class="btn right">See more topics</a>
                        <br>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-box-inside">
                        <h2 class="blue-txt">Dashboard & Reports</h2>
                        <ul class="dashboard-li">

                            <li><i class="fa fa-caret-right blue-txt"></i> <a href="http://www.impacttext.com/support/how-to/reports#view-reports" target="_blank">View reports</a></li>
                            <li><hr></li>
                            <li><i class="fa fa-caret-right blue-txt"></i> <a href="http://www.impacttext.com/support/how-to/reports#multiple-sms" target="_blank">Run a report for multiple SMS codes</li>
                            <li><hr></li>
                            <li><i class="fa fa-caret-right blue-txt"></i> <a href="http://www.impacttext.com/support/how-to/dashboard" target="_blank">View dashboard</a></li>
                        </ul>
                        <a href="http://www.impacttext.com/support/how-to/reports" target="_blank" class="btn right">See more topics</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-lg-12">
        <div class="row three-col">
            <div class="col-md-4">
                <div class="content-box">
                    <h2 class="orange">Contact us</h2>
                    <h3 class="orange-txt sub-h2">Send us your questions or comments!</h3>

                    <form class="contact-us"> form should go to customersupport@impacttelecom.com​ with a copy to nselimic@impacttelecom.com
                        <div class="form-group row">
                            <label class="col-lg-2 control-label">Subject:</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="control-label">Message Text:</label>
                            <div>
                                <textarea rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="right-float">
                            <button class="btn orange-send-btn"><i class="fa fa-paper-plane"></i> Send</button>

                            <div class="btn-group dropup discard-btn">
                                <a data-toggle="dropdown" class="btn btn-discard dropdown-toggle" aria-expanded="false"><i class="fa fa-times"></i> Discard</a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>Are you sure you want to discard the message?</li>
                                    <li><span ng-click="reset(); ResetMsg()" class="discard-cancel" data-toggle="dropdown"><strong>Yes</strong></span> &nbsp;&nbsp;&nbsp;  <	span class="discard-cancel" data-toggle="dropdown" ng-click="animation = 'FadeInLeft'"><strong>No</strong></span></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-box clearfix">
                    <h2 class="green">Texting Tips & Best Practices</h2>
                    <h3 class="green-txt sub-h2">Useful Tips&Tutorials! Take a look.</h3>
                    <ul class="dashboard-li">
                        <li><hr></li>
                        <li><i class="fa fa-caret-right green-txt"></i> How to send MMS and save it for later</li>
                        <li><hr></li>
                        <li><i class="fa fa-caret-right green-txt"></i> Managing contacts in ImpactText</li>
                        <li><hr></li>
                        <li><i class="fa fa-caret-right green-txt"></i> Compliance: Text messaging legal guidance</li>
                    </ul>
                    <a href="" class="btn view-more right">View more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-box clearfix">
                    <h2 class="violet">Video Tutorial</h2>

                    <ul class="dashboard-li">
                        <li>&nbsp;</li>
                        <li><i class="fa fa-caret-right violet-txt"></i> How to send a text message</li>
                        <li><hr></li>
                        <li><i class="fa fa-caret-right violet-txt"></i> How to add contacts and create lists</li>
                        <li><hr></li>
                        <li><i class="fa fa-caret-right violet-txt"></i> Using ImpactText for marketing and promotions</li>
                    </ul>
                    <img src="img/video.png" class="img-responsive" style="padding:0 15px 15px 15px">
                </div>
            </div>
        </div>
    </div>-->
    <div class="col-lg-12">
        <div class="row three-col">
            <div class="col-lg-4">
                <div class="content-box">
                    <!--<h2 class="orange">Contact us</h2>
                    <h3 class="orange-txt sub-h2">Send us your questions or comments!</h3>

                    <form class="contact-us">--> <!--form should go to customersupport@impacttelecom.com​ with a copy to nselimic@impacttelecom.com-->
                       <!-- <div class="form-group row">
                            <label class="col-lg-2 control-label">Subject:</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="control-label">Message Text:</label>
                            <div>
                                <textarea rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="right-float">
                            <button class="btn orange-send-btn"><i class="fa fa-paper-plane"></i> Send</button>

                            <div class="btn-group dropup discard-btn">
                                <a data-toggle="dropdown" class="btn btn-discard dropdown-toggle" aria-expanded="false"><i class="fa fa-times"></i> Discard</a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>Are you sure you want to discard the message?</li>
                                    <li><span ng-click="reset(); ResetMsg()" class="discard-cancel" data-toggle="dropdown"><strong>Yes</strong></span> &nbsp;&nbsp;&nbsp;  <    span class="discard-cancel" data-toggle="dropdown" ng-click="animation = 'FadeInLeft'"><strong>No</strong></span></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                    <br>-->

                    
                    <h2 class="orange">Contact us</h2>
                    <h3 class="orange-txt sub-h2">Need help? We are here to help</h3>
                    <ul class="dashboard-li">
                        <li><hr></li>
                        <li><i class="fa fa-caret-right orange-txt"></i> <a href="http://www.impacttext.com/support/faq/general" target="_blank">View FAQ</a></li>
                        <li><hr></li>
                        <li><i class="fa fa-caret-right orange-txt"></i> <a href="http://www.impacttext.com/support/how-to/general-info" target="_blank">See Help Topics</a></li>
                        <li><hr></li>
                        <li><i class="fa fa-caret-right orange-txt"></i> <a href="http://www.impacttext.com/support" target="_blank">Contact us</a></li>
                    </ul>
                    <a href="http://www.impacttext.com/support" target="_blank" class="btn view-more right">View more</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content-box clearfix">
                    <h2 class="green">Texting Tips & Best Practices</h2>
                    <!--<h3 class="green-txt sub-h2">Useful Tips&Tutorials! Take a look.</h3>-->
                    <ul class="dashboard-li" style="margin-bottom:0">
                        
                        
                        <li><i class="fa fa-caret-right green-txt"></i> <a href="http://www.impacttext.com/support/guides/getting-started" target="_blank">Why text messaging is a good idea for all businesses</a></li>
                        <li><hr></li>
                        <li><i class="fa fa-caret-right green-txt"></i> <a href="http://www.impacttext.com/support/guides/getting-started" target="_blank">Basic    functions of the ImpactText web-based portal</a></li>
                        <li><hr></li>
                        <li><i class="fa fa-caret-right green-txt"></i> <a href="http://www.impacttext.com/support/guides/getting-started" target="_blank"> Understanding opt-ins and opt-outs</a></li>
                        <li><hr></li>
                        <li><i class="fa fa-caret-right green-txt"></i> <a href="http://www.impacttext.com/support/guides/getting-started" target="_blank"> Understanding opt-ins and opt-outs</a></li>
                        <li><hr></li>
                        <li><i class="fa fa-caret-right green-txt"></i> <a href="http://www.impacttext.com/support/guides/getting-started" target="_blank">Growing  your customer base</a></li>
                        </ul>
                        <a href="http://www.impacttext.com/support/guides/getting-started" target="_blank" class="btn view-more right">View more</a>
                    <!--<a href="" class="btn view-more right">View more</a>-->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content-box clearfix">
                    <h2 class="violet">How to Topics</h2>

                    <ul class="dashboard-li">
                        
                    <li><i class="fa fa-caret-right violet-txt"></i> <a href="http://www.impacttext.com/support/how-to/messages#compose-message" target="_blank">How to send a text message</a></li>
                    <li><hr></li>
                    <li><i class="fa fa-caret-right violet-txt"></i> <a href="http://www.impacttext.com/support/how-to/contacts-and-lists#multiple-list" target="_blank">How to upload contacts</a></li>
                    <li><hr></li>
                    <li><i class="fa fa-caret-right violet-txt"></i> <a href="http://www.impacttext.com/support/how-to/dashboard" target="_blank">Understanding the dashboard</a></li>
                    </ul>
                    <a href="http://www.impacttext.com/support/how-to/general" target="_blank" class="btn view-more right">View more</a>
                    <!--<img src="img/video.png" class="img-responsive" style="padding:0 15px 15px 15px">-->
                </div>
            </div>
        </div>
    </div>
    <div class="spacer">&nbsp;</div>
</div>