<div class="footer">
    <div class="footer-inner clearfix">
        <div class="col-sm-3">
            <a href="http://tctranscontinental.com" target="_blank"><img src="img/tc_logo_b.png"></a>
        </div>
        <div class="col-sm-3">
            <p class="nav-title">TC Media</p>
            <ul>
                <li><a href="http://impacttelecom.com/about-us" target="_blank">About Us</a></li>
                <li><a href="http://impacttelecom.com/commercial" target="_blank">Products</a></li>
                <li><a href="http://impacttelecom.com/news" target="_blank">News</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <p class="nav-title">Support</p>
            <ul>
                <li><a href="http://www.impacttext.com/support/faq/general" target="_blank">FAQs</a></li>
                <li><a href="http://www.impacttext.com/support/how-to/general-info" target="_blank">How to</a></li>
                <li><a href="http://www.impacttext.com/support/videos/intro-to-the-dashboard" target="_blank">Videos</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <p class="nav-title">Contact Us</p>
            <ul>
                <li><a href="http://www.impacttelecom.com/support" target="_blank">Sales</a></li>
                <li><a href="http://www.impacttelecom.com/support" target="_blank">Customer Support</a></li>
                <li><a href="http://www.impacttelecom.com/commercial-partner-program" target="_blank">Partners</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix copy-section">
        <div class="col-sm-6">
            <strong>© 2015 TC Media. All rights reserved.</strong>
        </div>
        <div class="col-sm-6 terms-box">
            <a href="http://tctranscontinental.com/en/privacy-policy" target="_blank">Terms & Conditions</a> | <a href="http://tctranscontinental.com/en/privacy-policy" target="_blank">Privacy Policy</a>
        </div>
    </div>
</div>