<div class="footer">
<div class="clearfix">
<div class="col-sm-3">
	<img src="img/impact-telecom-logo-web-2.png">
</div>

<div class="col-sm-3">
<p class="nav-title">Impact Telecom</p>
	<ul>
		<li><a href="">About Us</a></li>
		<li><a href="">Products</a></li>
		<li><a href="">News</a></li>

	</ul>
</div>

<div class="col-sm-3">
<p class="nav-title">Support</p>
	<ul>
		<li><a href="">FAQs</a></li>
		<li><a href="">Tutorials</a></li>
		<li><a href="">Videos</a></li>

	</ul>
</div>

<div class="col-sm-3">
<p class="nav-title">Impact Telecom</p>
	<ul>
		<li><a href="">Sales</a></li>
		<li><a href="">Customer Support</a></li>
		<li><a href="">Partners</a></li>
	</ul>
</div>
</div>
<div class="clearfix copy-section">
    <div class="col-sm-6">
        <strong>© 2015 Impact Telecom. All rights reserved.</strong>
    </div>
    <div class="col-sm-6 terms-box">
        <a href="">Terms & Conditions</a> | <a href="">Privacy Policy</a>
    </div>
</div>
</div>
